body, ul.menu.ui-tabs-nav {
    background-color: #121212;
}

#topics .topic_data label, .filter_block fieldset, .topic_data a:visited {
    color: #ddd;
}

.topic_data a:link {
    color: wheat;
    text-decoration: none;
}
.topic_data {
    border-bottom: 1px solid #363636;
    padding: 3px 0 5px;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #363636;
    border: unset;
    padding: 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 5px;
    background: #ddd;
    border-radius: 2px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    color: #ddd;
    background: #363636;
    border: unset;
    padding: 6px 10px;
    border-radius: 2px;
}

#content, .status_info, #topics_data {
    border-color: #363636;
    border-radius: 2px;
}

.ui-widget-content {
    background-color: #363636;
    border: unset !important;
    border-radius: 2px;
    color: #ddd;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #ddd;
}

.ui-state-default a:hover, .ui-state-active a {
    color: wheat !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: #363636;
    border: unset;
    color: wheat;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #363636;
    border: 1px solid #363636 !important;
    color: #ddd;
    border-radius: 2px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    color: wheat !important;
}

.ui-button:disabled {
    background: #363636;
    color: #a8a8a8 !important;
}

.ui-widget button {
    border: 1px solid #222222 !important;
}

.ui-accordion-content-active {
    background-color: #222;
    border: 1px solid #363636 !important;
    border-radius: 2px;
}

#list-torrent-clients .ui-selected {
    background: #363636;
}

#table_statistics thead, #table_statistics tfoot {
    background-color: #363636;
    color: #ddd;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #363636;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 1px;
    background-color: #363636;
}