/*
 * 
 * stylesheet web-TLO (Web Torrent List Organizer)
 * 
 */

html {
	height: 100%;
	min-width: 1024px;
	min-height: 768px;
}

body, body > div:nth-child(1), #content > div {
	height: 100%;
}

table {
	font-size: 14px;
}

a {
	color: #3333cc; /* 0000ff -> 0066cc, #3333cc */
}

table a:visited {
	color: #660066; /* 800080 -> #660066, 990099 */
}

/* menu */
#content {
	height: calc(100% - 42px);
	border-color: #ddd;
}

#manual, #topics, #reporttabs .tab-pane, #config, #log, #data_statistics {
	overflow-y: auto;
	min-height: 0;
	height: 100%;
}

#data_statistics {
	height: calc(100% - 49px);
}

#manual:before {
	content: "\f110";
	font-family: FontAwesome, serif;
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	animation: fa-spin 2s infinite linear;
	z-index: -1;
}

#reporttabs, #reporttabs > div {
	height: calc(100% - 30px);
}

#reporttabs > .tab-content {
	height: calc(100% - 56px);
}

/* main */
#startreports:disabled, #update:disabled, #topics_control button:disabled, #sendreports:disabled, #get_statistics:disabled {
	background: #fafafa;
	cursor: default;
	color: #D3D3D3;
	border: 1px solid #D3D3D3;
}

#indication, #indication * {
	display: inline-block;
	font-size: 14px;
}

/* settings */
.sub_settings .card-header {
	cursor: pointer;
}

#accordion .card-header a {
	text-decoration: none;
	color: #343a40;
}

#checking {
	display: none;
}

/* statistics */
#table_statistics {
	font-size: small;
	margin: auto;
	width: 100%;
}

#table_statistics tbody {
	height: calc(100% - 49px);
	overflow-y: auto;
}

#table_statistics * {
	border: 1px solid #aaaaaa;
}

#table_statistics thead, #table_statistics tfoot {
	background: #f6f6f6;
}

#table_statistics th {
	padding: 5px;
	text-align: center;
	font-weight: normal;
}

/* topics */
#sub-data {
	height: calc(100% - 29px);
}

/* topics control */
.download-replace {
	letter-spacing: -5px;
}

.download-replace-super {
	font-size: .5em !important;
	vertical-align: top;
}

/* topics filter */
.filter_block {
	display: inline-block;
	font-size: 14px;
}

.columns-visibility-option {
	padding-left: 0;
}

.tor-status-resp, .columns-visibility-option {
	cursor: pointer;
	justify-content: flex-start !important;
}

.tor-status-resp *, .columns-visibility-option * {
	color: #343a40;
}

.tor-status-resp input[type="checkbox"], .columns-visibility-option input[type="checkbox"] {
	display: none;
}

.tor-status-resp > .fa, .columns-visibility-option > .fa {
	margin-right: .3em;
	visibility: hidden;
}

.tor-status-resp input[type="checkbox"]:checked ~ .fa, .columns-visibility-option input[type="checkbox"]:checked ~ .fa {
	visibility: visible;
}

.tor-status-icon {
	width: 1em;
	font-weight: bold;
}

/* tor icons */
.tor-approved {
	color: #008000;
}

.tor-not-approved {
	color: #c71585;
}

.tor-need-edit {
	color: #ff0000;
}

.tor-dup {
	color: #0000ff;
}

.tor-consumed {
	color: #d26900;
}

.tor-closed {
	color: #ff4500;
}

.tor-checking {
	color: #2424ff;
}

/* topics result */
.status_info {
	display: flex;
}

#topics_result {
	flex: 1;
	text-align: right;
}

#topics {
	height: calc(100% - 108px);
}

/* log */
#log {
	font: normal 14px monospace;
}

/*FAQ*/
#manual object {
	height: calc(100% - 7px);
}

/* таблица и фильтр над ней*/
.dataTables_info {
	white-space: nowrap;
}

.filter_block * {
	display: inline;
}

#table_filter .input-group-sm>.form-control {
	padding: .25rem .25rem;
}

tbody td:nth-last-child(-n+4) {
	max-width: 500px;
}

tbody td:nth-last-child(-n+2) {
	max-width: 100px;
}

tbody td:nth-last-child(-n+4) a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

tbody td:nth-last-child(-n+2) span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

tbody td {
	padding: 0 4px 0 4px !important;
}

thead tr:nth-child(1) th {
	box-sizing: border-box;
}

#filter_date_release_from ~ .input-group-addon, #filter_seeders_from ~ .input-group-addon {
	padding: .25rem .1rem;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
	bottom: 0.2em;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
	padding-right: 25px;
}

.table td, .table th {
	padding: .2rem;
}
