/*
 * 
 * stylesheet web-TLO (Web Torrent List Organizer)
 * 
 */

html {
	height: 100%;
	min-width: 1024px;
	min-height: 768px;
}

.container-fluid {
	padding-bottom: 15px;
	height: 100%;
}

body, #main, #manual, #reports, #reporttabs, #statistics, #journal {
	height: 100%;
}

#statistics_table {
	height: calc(100% - 39px);
}

#statistics_table tbody {
	height: calc(100% - 49px);
	overflow-y: auto;
}

table {
	font-size: 14px;
}

a:link {
	color: #3333cc; /* 0000ff -> 0066cc, #3333cc */
}

a:visited {
	color: #660066; /* 800080 -> #660066, 990099 */
}

h1 {
	margin: 5px 0 20px 20px;
	font-weight: bold;
	font-size: x-large;
}

h2 {
	margin: 5px 0 15px 20px;
	font-weight: bold;
}

h3 {
	margin: 15px 0 10px 0;
	font-weight: bold;
}	

hr {
	clear: both;
	margin: 5px 0 5px 0;
}

.sub_settings {
	margin-top: -3px;
	width: 100%;
}

.sub_settings h3:first-child {
	margin: 5px 0 10px 0;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    font-size: .7em;
    line-height: 1;
}

sup {
    bottom: 1.4ex;
}

sub {
	top: .5ex;
}

/* menu */
#content {
	height: calc(100% - 42px);
	padding-top: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#manual, #topics, #reporttabs .tab-pane, #config, #log, #data_statistics {
	overflow-y: auto;
	min-height: 0;
	height: 100%;
}

#data_statistics {
	height: calc(100% - 49px);
}

#manual:before {
	content: "\f110";
	font-family: FontAwesome, serif;
	font-size: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	animation: fa-spin 2s infinite linear;
	z-index: -1;
}

#sub-data:after{
	content: "";
	display: block;
	height: 0;
	width: 100%;
	margin-bottom: 5px; /* length you wanted on padding-bottom */
}

#reporttabs, #reporttabs > div {
	height: calc(100% - 30px);
}

#reporttabs > .tab-content {
	height: calc(100% - 56px);
}

.ui-widget.ui-widget-content {
	border: 1px solid #aaaaaa;
}

.ui-spinner-input {
	padding: 0;
}

#ui-datepicker-div {
	font-size: small;
}

.ui-button {
	padding: .4em .6em;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor, .ui-tabs-panel .ui-accordion-header {
	padding: .3em .7em;
	font-size: 85%;
}

.ui-tabs .ui-tabs-panel {
	padding: .6em 1em;
}

.ui-datepicker-trigger {
	border: none;
	background: none;
}

/* main */
#startreports:disabled, #update:disabled, #topics_control button:disabled, #sendreports:disabled, #get_statistics:disabled {
	background: #fafafa;
	cursor: default;
	color: #D3D3D3;
	border: 1px solid #D3D3D3;
}

#indication, #indication * {
	display: inline-block;
	font-size: 14px;
}

#loading, #process {
	margin-left: 5px;
}

#subsections-button *, #subsections-menu * {
	font-size: small;
}

/* settings */
#savecfg, #get_statistics {
	margin: 10px 0 10px 15px;
}

#config {
	border-top: 1px solid #aaaaaa;
	border-radius: 4px;
}

.block-settings {
	display: inline-block;
	vertical-align: top;
}

.block-settings span {
	display: inline-block;
	margin: 10px 15px 0 0;	
}

#proxy_prop {
	margin-top: 15px;
}

#checking {
	display: none;
}

#result-tc {
	margin: 0 5px;
	font-size: small;
}

#result-tc img {
	margin-top: -1.5px;
	vertical-align: middle;
}

#list-tcs {
	width: 100%;
}

#ss-del {
	margin: 0 0 15px 0;
}

.footnote {
	font-size: small;
	margin: 15px 0 0 0;
	padding: 5px 0 0 0;
	border-top: 1px solid #000;
}

/* statistics */
#table_statistics {
	text-align: center;
	font-size: small;
	color: #444444;
	margin: auto;
	width: 99%;
}

#table_statistics * {
	border: 1px solid #aaaaaa;
}

#table_statistics thead, #table_statistics tfoot {
	background: #f6f6f6;
}

#table_statistics th {
	padding: 5px;
}

.warning {
	background: #fafa00;
}

.critical {
	background: #ff4040;
}

/* topics */
#tabs-topic_0 .topics_filter, #tabs-topic_0 .tor_download, #tabs-topic_0 .tor_add {
	display: none;
}

.seeders, .errors {
	color: red;
}

#sub-data {
	height: calc(100% - 29px);
}

/* topics control */
#topics_control, #topics_filter {
	padding: 10px 10px 0 10px;
}

.download-replace {
	letter-spacing: -5px;
}

.download-replace-super {
	font-size: .5em !important;
	vertical-align: top;
}

/* topics filter */
.filter_block {
	display: inline-block;
	font-size: 14px;
}

.filter_block fieldset {
	margin-bottom: 5px;
}

.filter_rule fieldset {
	margin-top: 5px;
}

.filter_rule_value {
	margin-top: 5px;
	text-align: center;
}

.filter_common label {
	margin-bottom: 5px;
}

.date_container * {
	vertical-align: middle;
}

.tor-status-resp {
	padding: 2px 10px;
}

.tor-status-resp * {
	color: #343a40;
}

.tor-status-resp input {
	display: none;
}

.tor-status-checked {
	margin-left: 15px;
}

.tor-icon {
	margin-right: 10px;
	font-weight: bold;
}

/* tor icons */
.tor-approved {
	color: #008000;
}

.tor-not-approved {
	color: #c71585;
}

.tor-need-edit {
	color: #ff0000;
}

.tor-dup {
	color: #0000ff;
}

.tor-consumed {
	color: #d26900;
}

.tor-closed {
	color: #ff4500;
}

.tor-checking {
	color: #2424ff;
}

/* topics result */
.status_info {
	display: flex;
}

#topics_result {
	flex: 1;
	text-align: right;
}

#topics_result, #counter {
	margin: 0 10px;
}

#topics {
	padding: 5px 0 0 0;
	height: calc(100% - 108px);
}

.topic_data * {
	vertical-align: middle;
}

/* log */
#log {
	font: normal 14px monospace;
}

/*FAQ*/
#manual object {
	height: calc(100% - 7px);
}

/* таблица и фильтр над ней*/
.dataTables_info {
	white-space: nowrap;
}

.filter_block * {
	display: inline;
}

#table_filter .input-group-sm>.form-control {
	padding: .25rem .25rem;
}

tbody td:nth-last-child(-n+4) {
	max-width: 500px;
}

tbody td:nth-last-child(-n+2) {
	max-width: 100px;
}

tbody td:nth-last-child(-n+4) a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

tbody td:nth-last-child(-n+2) span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
}

tbody td {
	padding: 0 4px 0 4px !important;
}

thead tr:nth-child(1) th {
	box-sizing: border-box;
}

#table_filter .input-group-sm>.input-group-addon {
	padding: .25rem .1rem;;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
	bottom: 0.2em;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
	padding-right: 25px;
}

.table td, .table th {
	padding: .2rem;
}
