services:
  webtlo:
    image: berkut174/webtlo:latest
    container_name: webtlo-latest
    ports:
      - "8888:80"                      # Порт для доступа к UI
    environment: 
      - TZ=Europe/Moscow               # Часовой пояс
      - WEBTLO_UID=1000                # Стандартный пользователь внутри контейнера
      - WEBTLO_GID=1000
      - WEBTLO_CRON=true               # Выполняемые внутри контейнера фоновые задачи планировщика. false - отключить планировщик
      - CRON_UPDATE=15 * * * *         # Задать расписание для конкретной задачи. false - выключить
      - CRON_CONTROL=25 * * * *
      - CRON_KEEPERS=0 6 * * *
      - CRON_REPORTS=0 5 * * *
    volumes:         
      - "./webtlo-data:/data/storage"  # Проброшенный каталог с файлами конфигурации, работает с Adder
    restart: unless-stopped
