parameters:
	ignoreErrors:
		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:combine_set\\(\\) has parameter \\$primaryKey with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:combine_set\\(\\) has parameter \\$set with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:prepare_query\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:prepare_query\\(\\) has parameter \\$param with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:prepare_query\\(\\) has parameter \\$sql with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_count\\(\\) has parameter \\$param with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_count\\(\\) has parameter \\$sql with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database\\(\\) has parameter \\$fetch with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database\\(\\) has parameter \\$param with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database\\(\\) has parameter \\$pdo with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database\\(\\) has parameter \\$sql with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database_row\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database_row\\(\\) has parameter \\$fetch with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database_row\\(\\) has parameter \\$param with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database_row\\(\\) has parameter \\$pdo with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:query_database_row\\(\\) has parameter \\$sql with no type specified\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:table_insert_dataset\\(\\) has parameter \\$dataset with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:table_insert_dataset\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:table_insert_temp\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:temp_copy_table\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:temp_keys_table\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Legacy\\\\Db\\:\\:unionQuery\\(\\) has parameter \\$source with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Legacy/Db.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Module\\\\CloneTable\\:\\:__construct\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Module/CloneTable.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Module\\\\CloneTable\\:\\:cloneFill\\(\\) has parameter \\$dataset with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Module/CloneTable.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Module\\\\CloneTable\\:\\:cloneFillChunk\\(\\) has parameter \\$dataset with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Module/CloneTable.php

		-
			message: "#^Method KeepersTeam\\\\Webtlo\\\\Module\\\\CloneTable\\:\\:create\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/back/Module/CloneTable.php
