name: Sub. Check code style

on:
  workflow_call:
    inputs:
      PHP_VERSION:
        type: string
        default: '8.1'

jobs:

  setup-and-check:
    name: Setup and check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up PHP ${{ inputs.PHP_VERSION }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ inputs.PHP_VERSION }}
          tools: composer

      - name: Validate composer.json
        run: composer validate --strict

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: Composer-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: Composer-${{ runner.os }}-

      - name: Install composer dependencies
        run: composer install --ignore-platform-reqs --prefer-dist

      - name: Restore tools cache
        id: cache-tools
        uses: actions/cache/restore@v5
        with:
          path: .cache
          key: cache-tools-${{ github.repository }}-${{ inputs.PHP_VERSION }}-${{ github.sha }}
          restore-keys: |
            cache-tools-${{ github.repository }}-${{ inputs.PHP_VERSION }}-
            cache-tools-${{ github.repository }}-

      - name: Run PHP-CS-Fixer
        run: composer cs:check

      - name: Run PHPStan
        run: composer phpstan

      - name: Save tools cache
        uses: actions/cache/save@v5
        if: ${{ !cancelled() && steps.cache-tools.outputs.cache-hit != 'true' }}
        with:
          path: .cache
          key: cache-tools-${{ github.repository }}-${{ inputs.PHP_VERSION }}-${{ github.sha }}
