name: Sub. Check Docker Hub secrets

on:
  workflow_call:
    outputs:
      valid:
        description: "Whether Docker Hub secrets are set"
        value: ${{ jobs.check.outputs.valid }}

jobs:
  check:
    name: Docker Hub secrets
    runs-on: ubuntu-latest
    outputs:
      valid: ${{ steps.check-secrets.outputs.valid }}
    steps:
      - name: Docker Hub secrets
        id: check-secrets
        run: |
          if [ -z "${{ secrets.DOCKER_HUB_USERNAME }}" ] || [ -z "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" ]; then
            echo "::warning::Docker Hub secrets are not set. Skipping Docker image build."
            echo "valid=false" >> "$GITHUB_OUTPUT"
          else
            echo "Docker Hub secrets are set"
            echo "valid=true" >> "$GITHUB_OUTPUT"
          fi
